/* here are the animations for the page, and the classes to assign them to images */
.project {
    max-height: 300px;
    position: absolute;
    border: solid 1px var(--accent);
}

.img1 {
    animation: imgOne 30s infinite;
    left: 0px
}


@keyframes imgOne {
    0% {
        left: 20px;
        top: 20px;
    } 50% {
        left: 80%;
        top: 60%;
    } 100% {
        left: 20px;
        top: 20px;
    }
}