:root {
    --accent: #45A6FF;
}

* {
    padding: 0px; 
    margin: 0px;
}

body {
    background-color: #344e41;
    
}

.font {
    font-family: 'Roboto', sans-serif;
}

.white {
    color: #eeeeee;
}

.heading {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--accent);
}

.logo-wrapper {
    align-self: center;
}

.logo-wrapper > a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
}

.menu-nav {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-nav > li > a {
    color: white;
    font-size: 24px;
    margin: 0px 20px;
    text-decoration: none;
}

.hero {
    height: 700px;
    font-size: 160px;
}

.hero > p{
    position: relative;
    top: 10%;
    left: 5%;
}

.title-effect {
    max-width: 90%;
}

.title-effect > span {
    color: #eeeeee;
    z-index: 5;
    position: relative;
    top: 0px;
    left: 0px;
    transition: top 0.3s ease, left 0.3s ease;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #eeeeee;
}


.title-effect > span::after {
    content: attr(data-letter);
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--accent);
    z-index: -1;
    color: transparent;
    transition: top 0.3s ease, left 0.3s ease;
}

.title-effect > span:hover {
    left: -5px;
    top: -5px;
    transition: top 0.3s ease, left 0.3s ease;

}

.title-effect > span:hover::after {
    left: 15px;
    top: 15px;
    transition: top 0.3s ease, left 0.3s ease;
}

.title-name {
    font-size: 45px;
    color: rgb(207, 207, 207);
    max-width: 90%;
}

.about-me-wrapper {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-me {
    width: 90%;
    font-size: 160px;
    display: flex;
    justify-content: space-between;
}

.subtext {
    font-size: 20px;
}

.img-place-holder {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: blue;
    margin-right: 120px;
    position: relative;
}

.img-place-holder::before {
    content: '';
    width: 430px;
    height: 430px;
    left: -20px;
    top: -20px;
    position: absolute;
    background-color: transparent;
    border: solid 7px var(--accent);
    border-radius: 50%;
}

.img-place-holder::after {
    content: '';
    width: 470px;
    height: 470px;
    left: -40px;
    top: -40px;
    position: absolute;
    background-color: transparent;
    border: solid 6px var(--accent);
    border-radius: 50%;
}