:root {
    --accent: #45A6FF;
}

* {
    padding: 0px; 
    margin: 0px;
}

.no-margin{
    margin: 0 !important;
}

body {
    background-color: #082032;
    overflow-x: hidden;
}

.font {
    font-family: 'Roboto', sans-serif;
}

.white {
    color: #eeeeee;
}

.heading {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--accent);
}

.logo-wrapper {
    align-self: center;
}

.logo-wrapper > a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
}

.menu-nav {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-nav > li > a {
    color: white;
    font-size: 24px;
    margin: 0px 20px;
    text-decoration: none;
}

.disclaimer {
    position: absolute;
    right: 5px;
    top: 55px;
    font-size: 24px;
    color: rgb(87, 87, 87);
}

.hero {
    height: 700px;
    font-size: 160px;
}

.hero > p{
    position: relative;
    top: 10%;
    left: 5%;
}

.title-effect {
    max-width: 90%;
}

.title-effect > span {
    color: #eeeeee;
    z-index: 5;
    position: relative;
    top: 0px;
    left: 0px;
    transition: top 0.3s ease, left 0.3s ease;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #eeeeee;
}


.title-effect > span::after {
    content: attr(data-letter);
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--accent);
    z-index: -1;
    color: transparent;
    transition: top 0.3s ease, left 0.3s ease;
}

.title-effect > span:hover {
    left: -5px;
    top: -5px;
    transition: top 0.3s ease, left 0.3s ease;

}

.title-effect > span:hover::after {
    left: 15px;
    top: 15px;
    transition: top 0.3s ease, left 0.3s ease;
}

.title-name {
    font-size: 45px;
    color: rgb(207, 207, 207);
    max-width: 90%;
}

.about-me-wrapper {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.about-me {
    width: 90%;
    font-size: 160px;
    display: flex;
    justify-content: space-between;
}

.subtext {
    font-size: 20px;
    max-width: 800px;
    color: rgb(207, 207, 207);
}

/* about button */

/*  */

#rings {
    margin-right: 120px;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -50px;
    z-index: 5;
    border-radius: 50%;  
}

#img-place-holder {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background-color: blue;
    position: relative;
}

.ring {
    position: relative;
    border: solid 10px var(--accent);
    border-radius: 50%;
    position: absolute;
    transition: transform ease 200ms;
}

#inner-ring {
    width: 520px;
    height: 520px;
}

#outer-ring {
    width: 560px;
    height: 560px;
}

/* project title */
.recent {
    font-weight: 300;
    font-size: 140px;
    margin-left: 5vw;
}

.projects-wrapper {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section {
    width: 40%;
    display: flex;
    flex-direction: column;
    z-index: 11;
}

.item-wrapper {
    margin: 10px;
    transition: max-height 700ms ease;
    overflow: hidden;
}

.project-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px rgb(177, 177, 177);
}

.project-title {
    width: 100%;
    font-size: 30px;
    padding-left: 10px;
}

.project-logo-wrapper {
    display: flex;
    margin-right: 10px;
}

.project-description {
    margin: 10px;
    font-size: 16px;
}

.selected {
    max-height: 400px !important;
    transition: max-height 700ms ease;
}

.unselected {
    color: rgb(177, 177, 177);
    transition: color 500ms ease;
    max-height: 40px !important; 
    transition: max-height 700ms ease;
}

.unselected:hover {
    color: white;
    transition: color 500ms ease;
}

.project-img-wrapper {
    min-width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-img {
    height: 400px;
}


